footer{
    background-color: darken(white,80%);
    height: fit-content;
    @extend %padding-page;
    color: white;
    display: flex;
    flex-direction: column;
    @include tablet{
        align-items: center;
    }
    .footer{
        &__title{
            font-family: 'Shrikhand';
            font-weight: 300;
        }
        &__list{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0.5rem;
            @include tablet{
                max-width: 700px;
                width: calc(100% - 15rem);
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 2rem;
                row-gap: 1.5rem;
            }
            a{
                color: white;
                cursor: pointer;
            }
            i{
                margin-right: 7px;
                fill: white;
                font-size: 0.9rem;
            }
        }
    }
}