#header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    .header{
        &__back{
            position: absolute;
            left: 2rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3rem;
            &--hidden{
                display: none;
            }
        }
        &__title{
            p{
                font-family: 'Shrikhand';
                font-size: 1.6rem;
                margin: 0;
                color: black;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }
}