@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.page__content, #restaurants, footer {
  padding: 1rem;
}

.article__price, .article__description, .article__title {
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.button__main {
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-size: 130% 130%;
  background-position: bottom right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
}

.figcaption__hearts {
  position: relative;
  width: 25px;
}
.figcaption__hearts i {
  font-size: 25px;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}
.figcaption__hearts .heart--outline {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}
.figcaption__hearts .heart--full {
  opacity: 0;
  background: -webkit-linear-gradient(60deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 150ms ease-in-out;
}
.figcaption__hearts:hover .heart--full {
  opacity: 1;
}
.figcaption__hearts:hover .heart--outline {
  opacity: 0;
}

.button__main:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article__card__column--checked {
  transition: margin-right 500ms;
  margin-right: -60px;
}
.article__card__column--checked i {
  transform: rotate(0deg);
}
.article__card:hover .article__card__column--checked {
  margin-right: 0;
}
.article__card:hover .article__card__column--checked i {
  transform: rotate(360deg);
  transition: transform 500ms;
  transition-delay: 50ms;
}

.section__contenu > * {
  animation: 0.5s ease-in-out both fade-in, 0.5s ease-in-out both move-up;
}
.section__contenu > *:nth-of-type(1) {
  animation-delay: 0.3s;
}
.section__contenu > *:nth-of-type(2) {
  animation-delay: 0.5s;
}
.section__contenu > *:nth-of-type(3) {
  animation-delay: 0.7s;
}
.section__contenu > *:nth-of-type(4) {
  animation-delay: 0.9s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move-up {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

#loading-spinner {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  animation: loaderDisplay 3s linear forwards;
}

.loading-bar.n1::before {
  transform: translateX(-30px) scaleY(0);
  background-color: #9356DC;
  animation: loading-n1 1s ease-in-out 0s infinite;
}
.loading-bar::before {
  content: "";
  width: 20px;
  height: 70px;
  background-color: #FF79DA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top center;
  animation: loading 1s ease-in-out 0s infinite;
  animation-delay: 0.2s;
  border-radius: 0 0 20px 20px;
  transform: scaleY(0);
}
.loading-bar.n3::before {
  transform: translateX(30px) scaleY(0);
  background-color: #99E2D0;
  animation: loading-n2 1s ease-in-out 0s infinite;
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes loading-n1 {
  0% {
    transform: translateX(-30px) scaleY(0);
  }
  50% {
    transform: translateX(-30px) scaleY(1);
  }
  100% {
    transform: translateX(-30px) scaleY(0);
  }
}
@keyframes loading-n2 {
  0% {
    transform: translateX(30px) scaleY(0);
  }
  50% {
    transform: translateX(30px) scaleY(1);
  }
  100% {
    transform: translateX(30px) scaleY(0);
  }
}
@keyframes loaderDisplay {
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.article__card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
@media screen and (min-width: 541px) {
  .article__card {
    flex-grow: 1;
    width: 400px;
  }
}
.article__card__column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.article__card__column:nth-child(1) {
  padding: 1rem 0 1rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.article__card__column:nth-child(1) > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.article__card__column:nth-child(2) {
  padding: 1rem 1rem;
  justify-content: flex-end;
  text-align: end;
}
.article__card__column--checked {
  width: 60px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__card__column--checked i {
  font-size: 25px;
}
.article__description {
  font-size: 14px;
}
.article__price {
  font-weight: 600;
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
#header .header__back {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
}
#header .header__back--hidden {
  display: none;
}
#header .header__title p {
  font-family: "Shrikhand";
  font-size: 1.6rem;
  margin: 0;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

footer {
  background-color: #333333;
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 541px) {
  footer {
    align-items: center;
  }
}
footer .footer__title {
  font-family: "Shrikhand";
  font-weight: 300;
}
footer .footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}
@media screen and (min-width: 541px) {
  footer .footer__list {
    max-width: 700px;
    width: calc(100% - 15rem);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 1.5rem;
  }
}
footer .footer__list a {
  color: white;
  cursor: pointer;
}
footer .footer__list i {
  margin-right: 7px;
  fill: white;
  font-size: 0.9rem;
}

.landing__localisation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  padding: 1rem 0;
}
.landing__localisation p {
  margin: 0 0 0 0.75rem;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.landing__content {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}
.landing__content h2 {
  margin-top: 2rem;
  margin-bottom: 0;
}
.landing__content p {
  font-weight: 300;
  margin-bottom: 2rem;
}
.landing__content button {
  margin: 2rem 0;
}
.landing__content .button__main {
  margin-top: 0;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
@media screen and (min-width: 541px) {
  #fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1300px;
  }
  #fonctionnement h2 {
    width: 100%;
  }
}

.fonctionnement__composant {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.fonctionnement__composant > * {
  margin: 0 0.5rem;
}
.fonctionnement__composant__number {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  position: absolute;
  left: calc(-2rem + 13px);
  border-radius: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__composant__icon i {
  font-size: 19px;
  color: #595959;
}
.fonctionnement__composant:hover {
  background-color: #f1e6ff;
}
.fonctionnement__composant:hover .fonctionnement__composant__icon i {
  color: #9356DC;
}

#restaurants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 541px) {
  #restaurants {
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
  }
  #restaurants h2 {
    width: 100%;
  }
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (min-width: 541px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}
.restaurants__cards__card {
  position: relative;
}
@media screen and (min-width: 541px) {
  .restaurants__cards__card {
    width: 400px;
    flex-grow: 1;
    max-width: 400px;
  }
}
.restaurants__cards__card.new:after {
  content: "Nouveau";
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 1rem;
  background-color: #99E2D0;
  font-size: 15px;
  color: #217460;
  font-weight: bold;
}
.restaurants__cards__card figure {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
}
.restaurants__cards__card figure .figure__img {
  height: 155px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurants__cards__card figure .figure__img img {
  width: 100%;
}
.restaurants__cards__card figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.restaurants__cards__card figure figcaption .figcaption__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__cards__card figure figcaption .figcaption__text > * {
  margin: 0;
}

.cover-image {
  width: 100%;
}

.page__cover {
  max-height: 294px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page__cover img {
  transform-origin: center;
}
.page__content {
  border-radius: 2rem;
  background-color: #e6e6e6;
  margin-top: -3.5rem;
  position: relative;
  z-index: 5;
}
.page__content > * {
  max-width: 1200px;
  margin: auto;
}
.page__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section__title:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.section__contenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 541px) {
  .section__contenu {
    flex-direction: row;
    justify-content: start;
  }
}

.button__order {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
}

/*# sourceMappingURL=style.css.map */
