.figcaption__hearts{
        position: relative;
        width: 25px;
    i{
        font-size: 25px;
        color: black;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
    }
    .heart--outline{
        opacity: 1;
        transition: opacity 150ms ease-in-out;
    }
    .heart--full{
        opacity: 0;
        background: -webkit-linear-gradient(60deg, $second-color, $main-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 150ms ease-in-out;
    }
    &:hover .heart--full{
        opacity: 1;
    }
    &:hover .heart--outline{
        opacity: 0;
    }
}

.button{
    &__main{
        &:hover{
            background: linear-gradient(175deg, lighten($second-color,5%), lighten($main-color,5%));
            box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
        }
    }
}

.article__card{
    &__column--checked{
        transition: margin-right 500ms;
        margin-right: -60px;
        i{
            transform: rotate(0deg);
        }
    }
    &:hover{
        .article__card__column--checked{
            margin-right: 0;
            i{
                transform: rotate(360deg);
                transition: transform 500ms;
                transition-delay: 50ms;
            }
        }
    }
}



.section__contenu{
    > *{
        @include apparition-sequence($items: 4, $nth: 1, $initial: .3, $step: .2);
        animation: .5s ease-in-out both fade-in, .5s ease-in-out both move-up;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes move-up {
        0% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0);
        }
    }
}
#loading-spinner{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    animation: loaderDisplay 3s linear forwards;
}

.loading{
    &-bar{
        &.n1{
            &::before{
                transform: translateX(-30px) scaleY(0);
                background-color: $main-color;
                animation: loading-n1 1s ease-in-out 0s infinite;
            }
        }
        &::before{
            content: '';
            width: 20px;
            height: 70px;
            background-color: $second-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: top center;
            animation: loading 1s ease-in-out 0s infinite;
            animation-delay: 0.2s;
            border-radius: 0 0 20px 20px;
            transform: scaleY(0);
        }
        &.n3{
            &::before{
                transform: translateX(30px) scaleY(0);
                background-color: $third-color;
                animation: loading-n2 1s ease-in-out 0s infinite;
                animation-delay: 0.4s;
            }
        }
    }
}
@keyframes loading{
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}
@keyframes loading-n1{
    0%{
        transform: translateX(-30px) scaleY(0);
    }
    50%{
        transform: translateX(-30px) scaleY(1);
    }
    100%{
        transform: translateX(-30px) scaleY(0);
    }
}
@keyframes loading-n2{
    0%{
        transform: translateX(30px) scaleY(0);
    }
    50%{
        transform: translateX(30px) scaleY(1);
    }
    100%{
        transform: translateX(30px) scaleY(0);
    }
}

@keyframes loaderDisplay {
    90% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity:0;
      visibility: hidden;
    }
  }