.article{
    &__card{
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        width: 100%;
        @include tablet{
            flex-grow: 1;
            width: 400px;
        }
        &__column{
            display: flex;
            flex-direction: column;
            gap: 5px;
            &:nth-child(1){
                padding: 1rem 0 1rem 1rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex-grow: 1;
                >*{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                }
            }
            &:nth-child(2){
                padding: 1rem 1rem;
                justify-content: flex-end;
                text-align: end;
            }
            &--checked{
                width: 60px;
                background-color: $third-color;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 25px;
                }
            }
        }
    }
    &__title{
        @extend %margin0;
    }
    &__description{
        @extend %margin0;
        font-size: 14px;
    }
    &__price{
        @extend %margin0;
        font-weight: 600;
    }
}