.button__main{
    border: none;
    background: linear-gradient(175deg, $second-color, $main-color);
    background-size: 130% 130%;
    background-position: bottom right;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}