@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

body{
    font-family: 'roboto', sans-serif;
}
h1{
    font-family: 'Shrikhand';
    font-size: 1.6rem;
    font-weight: 400;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}