

.landing__localisation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken(white,12%);
    padding: 1rem 0;
    p{
        margin: 0 0 0 0.75rem;
        border: none;
        color: black;
        font-weight: 500;
        font-size: 14px;
    }
}
.landing__content{
    background-color: darken(white,5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    h2{
        margin-top: 2rem;
        margin-bottom: 0;
    }
    p{
        font-weight: 300;
        margin-bottom: 2rem;
    }
    button{
        margin: 2rem 0;
    }
    .button__main{
        margin-top: 0;
    }
}
#fonctionnement{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        max-width: 1300px;
        h2{
            width: 100%;
        }
    }
}
.fonctionnement__composant{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: darken(white,5%);
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
        > *{
            margin: 0 0.5rem;
        }
        &__number{
            background-color: $main-color;
            width:25px;
            height:25px;
            position:absolute;
            left: calc(-2rem + 13px);
            border-radius: 2rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon i{
            font-size: 19px;
            color:darken(white,65%);
        }
        &:hover{
            background-color: pastel($main-color);
            .fonctionnement__composant__icon i{
                    color: $main-color;
            }
        }
}
#restaurants{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @extend %padding-page;
    @include tablet{
        align-items: center;
        margin: 0 auto;
        max-width: 1300px;
        h2{
            width: 100%;
        }
    }
}
.restaurants__cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

    }
    &__card{
        position:relative;
        @include tablet{
            width: 400px;
            flex-grow: 1;
            max-width: 400px;
        }
        &.new{
            &:after{
                content: "Nouveau";
                position:absolute;
                width: fit-content;
                height: fit-content;
                right: 0;
                top: 0;
                padding: 5px;
                margin: 1rem;
                background-color: $third_color;
                font-size: 15px;
                color: darken($third-color,45%);
                font-weight: bold;
            }
        }
        figure{
            width: 100%;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 15px;
            overflow: hidden;
            position:relative;
            margin: 0;
            width: 100%;
            .figure__img{
                height: 155px;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                }
            }
            figcaption{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                .figcaption__text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    > *{
                        margin: 0;
                    }
                }
            }
        }
    }
}