.cover-image{
    width: 100%;
}
.page{
    &__cover{
    max-height: 294px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        transform-origin: center
    }
    }
    &__content{
        @extend %padding-page;
        border-radius: 2rem;
        background-color: darken(white,10%);
        margin-top: -3.5rem;
        position: relative;
        z-index: 5;
        > * {
            max-width: 1200px;
            margin: auto;
        }
    }
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.section{
    &__title{
        &:after{
            content:"";
            width:40px;
            height: 3px;
            background-color:$third-color;
            position: absolute;
            left: 0;
            bottom: -5px;
        }
    }
    &__contenu{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        @include tablet{
            flex-direction: row;
            justify-content: start;
        }
    }
}
.button{
    &__order{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem auto;
    }
}