@mixin apparition-sequence($nth: 1, $items: 2, $initial: 0, $step: 0.1){
  @for $i from $nth through $items {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$initial}s;
    }
    $initial: $initial + $step;
  }
}
@mixin tablet{
  @media screen and (min-width:541px) {
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width:992px) {
    @content;
  }
}